{% extends "user/base_user.html" %}

{% block title %}
{{ block.super }} - Edit password
{% endblock %}

{% block content %}

<div class="right_col" role="main">
  <div class="clearfix"></div>
    <div class="x_panel">
      <div class="x_title">
        <h2>Update user</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-8 center-margin">
          <form class="form-horizontal form-label-left" id="add_form" method="POST" action="{{ user_obj.profile.get_update_url }}">
            {%csrf_token%}
            <div class="form-group">
              {{ form.as_p }}
            <div class="row marl buttons_row form_btn_row text-center">
              <button class="btn btn-default" type="submit">Change Password</button>
              <button class="btn btn-default clear" type="submit">Reset</button>
              <a href="{% url 'user:list' %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
            </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
